policy_module(nasdacash, 1.100.1)

########################################
#
# Declarations
#

type nasdacash_t;
type nasdacash_exec_t;
init_daemon_domain(nasdacash_t, nasdacash_exec_t)

permissive nasdacash_t;

type nasdacash_initrc_exec_t;
init_script_file(nasdacash_initrc_exec_t)

type nasdacash_conf_t;
files_type(nasdacash_conf_t)

type nasdacash_var_lib_t;
files_type(nasdacash_var_lib_t)

type nasdacash_var_run_t;
files_type(nasdacash_var_run_t)

type nasdacash_port_t;
corenet_port(nasdacash_port_t)

########################################
#
# nasdacash local policy
#
allow nasdacash_t self:process { fork };

allow nasdacash_t self:fifo_file rw_fifo_file_perms;
allow nasdacash_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(nasdacash_t, nasdacash_conf_t, nasdacash_conf_t)
manage_files_pattern(nasdacash_t, nasdacash_conf_t, nasdacash_conf_t)

manage_dirs_pattern(nasdacash_t, nasdacash_var_lib_t, nasdacash_var_lib_t)
manage_files_pattern(nasdacash_t, nasdacash_var_lib_t, nasdacash_var_lib_t)
files_var_lib_filetrans(nasdacash_t, nasdacash_var_lib_t, { dir file })

manage_dirs_pattern(nasdacash_t, nasdacash_var_run_t, nasdacash_var_run_t)
manage_files_pattern(nasdacash_t, nasdacash_var_run_t, nasdacash_var_run_t)

sysnet_dns_name_resolve(nasdacash_t)
corenet_all_recvfrom_unlabeled(nasdacash_t)

allow nasdacash_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(nasdacash_t)
corenet_tcp_sendrecv_generic_node(nasdacash_t)
corenet_tcp_sendrecv_all_ports(nasdacash_t)
corenet_tcp_bind_generic_node(nasdacash_t)

gen_require(`
    type nasdacash_port_t;
')
allow nasdacash_t nasdacash_port_t:tcp_socket name_bind;

gen_require(`
    type nasdacash_port_t;
')
allow nasdacash_t nasdacash_port_t:tcp_socket name_connect;

domain_use_interactive_fds(nasdacash_t)

files_read_etc_files(nasdacash_t)

miscfiles_read_localization(nasdacash_t)

sysnet_dns_name_resolve(nasdacash_t)

allow nasdacash_t nasdacash_exec_t:file execute_no_trans;
allow nasdacash_t self:process setsched;
corecmd_exec_ls(nasdacash_t)
corenet_tcp_connect_http_port(nasdacash_t)
dev_read_urand(nasdacash_t)
fs_getattr_xattr_fs(nasdacash_t)
kernel_read_system_state(nasdacash_t)
